html {
    overflow: hidden;
}


@font-face {
    font-family: 'Doppelganger';
    src: url("/assets/fonts/DoppelgangerDisplay.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Wide';
    src: url("/assets/fonts/DrukWide-Bold.otf");
    font-weight: 400;
}

body {
    background: radial-gradient(circle, rgba(46,57,96,1) 45%, rgba(46,57,96,1) 81%);
    margin: 0;
}

.fade-in-screen {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #0C1020;
    opacity: 100%;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    transform: scale(0.6);
    perspective: 1000px;
    perspective-origin: 50% 50%;
    z-index: 1;
    pointer-events: none;
}

h1 {
    font-family: Doppelganger;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    line-height: clamp(80px, 8vw, 140px);
    height: 20%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

h1 span:first-child {
    color: #FF5555;
    font-size: 36vw;
    letter-spacing: -8.3px;
}

h1 span:last-child {
    color: #00FDFF;
    font-size: 13vw;
    letter-spacing: -0.52px;
    margin-left: 12vw;
    width:100%;
}


.imgs-parent{
    position:absolute;
    top:50%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    z-index: 0;
}

.img-child {
    position:relative;
    width: 100vw;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
.img-child > img{
    top: 50%;
    left: 50%;
    height: min(70vh, 700px);
    position: absolute;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.img-child:nth-of-type(1){
    z-index: 4;
}

.img-child:nth-of-type(2){
    z-index: 3;
}

.img-child:nth-of-type(3){
    z-index: 2;
}

.img-child:nth-of-type(4){
    z-index: 1;
}


#df {
    z-index: 4;
}

#dll {
    height: min(60vh, 600px);
    z-index: 3;
}

#lmc {
    height: min(50vh, 500px);
    z-index: 2;
}

#qlf {
    height: min(40vh, 400px);
    z-index: 1;
}

#df, #lmc {
    transform: translate(-130vw, -50%);
}

#dll, #qlf {
    transform: translate(130vw, -50%);
}

.imgs-hover {

}

.dll-hover {
    background: radial-gradient(circle, rgba(230,180,158,1) 45%, rgba(209,116,160,1) 81%) !important;
}


.imgs-parent > div:nth-child(1) > div {
    z-index: 5;
}

.imgs-parent > div:nth-child(2) > div {
    z-index: 4;
}

.imgs-parent > div:nth-child(3) > div {
    z-index: 3;
}

.imgs-parent > div:nth-child(4) > div {
    z-index: 2;
}

.imgs-parent > div:nth-child(5) > div {
    z-index: 1;
}

/** DF TEXT **/

.hover-text-df-container {
    position: relative;
    top: 23vh;
    left: 56vw;
    font-family: "Druk Wide";
    font-weight: 400;
    pointer-events: none;
}

.hover-text-df-container > div {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    opacity: 0%;
}

.hover-text-df-container > div p, .hover-text-df-container > div h2 {
    margin: 0;
    color: white;
    transform: rotateX(-8deg) rotateY(-35deg) rotateZ(0deg);
}

.hover-text-df-container > div h2 {
    line-height: 120%;
    font-size: 3vw;
    font-weight: 400;
}

.hover-text-df-container > div p {
    font-family: Doppelganger;
    font-size: 4vw;
    line-height: 50%;
}

.df-text {
    position: absolute;
    top:0;
}

/** DLL TEXT **/

.hover-text-dll-container {
    position: relative;
    top: 16vh;
    left: 62vw;
    font-family: "Druk Wide";
    font-weight: 400;
    pointer-events: none;
}

.hover-text-dll-container > div {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    opacity: 0%;
}

.dll-text {
    position: absolute;
    top: 0;
}

.hover-text-dll-container > div p, .hover-text-dll-container > div h2 {
    margin: 0;
    color: white;
    transform: rotateX(-8deg) rotateY(-35deg) rotateZ(0deg);
}

.hover-text-dll-container > div h2 {
    line-height: 120%;
    font-size: 3vw;
    font-weight: 400;
}

.hover-text-dll-container > div p {
    font-family: Doppelganger;
    font-size: 4vw;
    line-height: 50%;
}

/** LMC TEXT **/
.hover-text-lmc-container {
    position: relative;
    top: 11vh;
    left: 72vw;
    font-family: "Druk Wide";
    font-weight: 400;
    pointer-events: none;
}

.hover-text-lmc-container > div {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    opacity: 0%;
}

.lmc-text {
    position: absolute;
    top: 0;
    text-shadow: 1px 1px 8px rgb(0 0 0 / 20%);
}

.hover-text-lmc-container > div p, .hover-text-lmc-container > div h2 {
    margin: 0;
    color: white;
    transform: rotateX(-8deg) rotateY(-35deg) rotateZ(0deg);
}

.hover-text-lmc-container > div h2 {
    line-height: 120%;
    font-size: 3vw;
    font-weight: 400;
}

.hover-text-lmc-container > div p {
    font-family: Doppelganger;
    font-size: 4vw;
    line-height: 50%;
}

/** QLF TEXT **/
.hover-text-qlf-container {
    position: relative;
    top: 5vh;
    left: 80.5vw;
    font-family: "Druk Wide";
    font-weight: 400;
    pointer-events: none;
}

.hover-text-qlf-container > div {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    opacity: 0%;
}

.qlf-text {
    position: absolute;
    top: 0;
}

.hover-text-qlf-container > div p, .hover-text-qlf-container > div h2 {
    margin: 0;
    color: white;
    transform: rotateX(-2deg) rotateY(-35deg) rotateZ(0deg);
    text-shadow: 1px 1px 20px rgb(0 0 0 / 40%);
}

.hover-text-qlf-container > div h2 {
    line-height: 120%;
    font-size: 3vw;
    font-weight: 400;
}

.hover-text-qlf-container > div p {
    font-family: Doppelganger;
    font-size: 4vw;
    line-height: 50%;
}